aside{
    position: fixed;
    z-index: 0;
    left: 0px;
    top: 10%;
    width: 20%;
    height: 90%;
}

.streamer_scrollable{
    width: 100%;
    height: 74%;
    background-color: #E7E7E7;
    margin-bottom: 1%;
    overflow-y: auto;
    overflow-x: hidden;
}

.streamer_card{
    width: 100%;
    max-width: 100%;
    height: 14%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background-color:  #E7E7E7;
}

.streamer_card:hover{
    background-color:  #92603cfa;
    cursor: pointer;
}

.streamer_left_part{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 0px;
}
.streamer_icon{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    overflow: hidden;
}


.streamer_name{
    /* font-family: 'Uchen', serif; */
    
    width: 5rem;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding-left: 6px;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 3vh;
}

.streamer_name::selection{
    /* background-color: #BB9167; */
    color:  #BB9167;
}

/* right part of streamer */
.streamer_right_part{
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.status{
    background: rgb(252,0,0);
    animation-duration: 2s;
    animation-name: status_animation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 1.7vh;
    height: 1.7vh;
    border-radius: 50%;
}

@keyframes status_animation {
    from {
        background: linear-gradient(137deg, rgba(252,0,0,0.98) 0%, rgba(153,11,11,1) 100%);
    }
  
    to {
        background: linear-gradient(137deg, rgba(116, 3, 3, 0.98) 0%, rgb(175, 44, 44) 100%);
    }
  
    25%{
        background: linear-gradient(137deg, rgba(150, 5, 5, 0.98) 0%, rgb(138, 44, 44) 100%);
    }

    75% {
        background: linear-gradient(137deg, rgba(141, 50, 50, 0.98) 0%, rgb(167, 3, 3) 100%);
    }
  }

.subscribers{
    margin-left: 5px;
    font-size: 3vh;
    font-family: 'Noto Serif', serif;
}

.subscribers::selection{
    color:  #BB9167;
}
/* dogs`s pictuser */
/* Usualy they creates by js,
So it`s just for example
*/
.dog1{
    background: url('../data/img/dog1.jpg');
    background-size: contain;
}

.dog2{
    background: url('../data/img/dog2.jpg');
    background-size: contain;
}

.dog3{
    background: url('../data/img/dog3.jpg');
    background-size: contain;
}

.dog4{
    background: url('../data/img/dog4.jpg');
    background-size: contain;
}

.NotOnline{
    visibility: hidden;
}


/* Info panel */
.info_panel{
    width: 100%;
    height: 25%;
    background-color: #E7E7E7;
    padding-top: 5%;
}

.info_card{
    position: relative;
    margin-left: 5%;
    width: 90%;
    height: 85%;
    background-color: #B6B6B6;
}

.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    /* font-size:larger; */
    font-size: 3vh;
}

.introduction::selection{
    background-color: #BB9167;
}

/* Contacts */

.contacts {
    list-style: none outside none;
    display: flex;
    justify-content:space-around;
    /* flex-wrap: wrap; */
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    font-size: 0.9em;
    font-weight: 400;

    padding-left: 10%;
    padding-right: 10%;
  }

  .contacts li {
    margin-bottom: 0.25rem;
  }
  .contacts li::before {
    display: none;
  }
  .contacts li a {
    color: black;
    transition: color 0.2s ease-in-out;
  }
  .contacts li a.facebook:hover {
    color: #0d3386;
  }

  .contacts li a.instagram:hover {
    color: #ca3049;
  }

  .contacts li a.twitter:hover {
    color: #437ae0;
  }

  .contacts li a .icon {
    fill: currentColor;
    /* height: 1.1428rem; */
    /* height: 2rem; */
    height: 5vh;
    vertical-align: text-bottom;
  }


/* Scrolbar changed */
.streamer_scrollable::-webkit-scrollbar {
    width: 10px;
}
    
.streamer_scrollable::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
    
.streamer_scrollable::-webkit-scrollbar-thumb {
    background:rgba(0, 0, 0, 0.486); 
    border-radius: 10px;
}
    
.streamer_scrollable::-webkit-scrollbar-thumb:hover {
    background:rgba(54, 56, 58, 0.856); 
}