header{
    position: fixed;
    z-index: 1;
    background-color: white;
    left: 0px;
    top: 0px;
    max-width: 100%;
    width: 100%;
    height: 10%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    /* padding-left: 20px;  for some reason it crush fixing */ 
    /* padding-right: 20px; */
}

/* 
        Left part of Header
*/
.header_logo{
    padding: 0px;
    vertical-align: middle;
    font-size: 6vh;
    margin: 0;
    color: #BB9167;
    display : inline-flex;
    margin-left: 20px;
}

.header_logo::selection{
    background-color:  #BB9167;
    color:#8E562E;
}

.header_logo:hover{
    cursor: pointer;
}


/* MIddle part of header */
.search_form{
    display : inline-flex;
    height: 50%;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.search_input{
    font-size: 3vh;
    padding-left: 1vw;
    width: 65%;
}

.search_input:focus{
     /* outline: solid 1px #BB9167; */
     border: solid 1px blue;
}

.search_button{
    border-radius: 0 15% 15% 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: #B9B9B9;
    width: 6%;
    background: url('../data/svg/search.svg') center center no-repeat;
    background-size: 4vh;
}

.search_button:hover{
    background-color: #B9B9B9;

}

.search_button > img{

    opacity: 0.8;
    height: 80%;
    width: 80%;
}

.search_voice{
    opacity: 0.3;
}

.search_voice:hover{
    opacity: 0.7;
    cursor: pointer;
}

/* Right Part */

.settings_menu{
    display : inline-flex;
    align-items: center;
    padding: 0px;
    height: 50%;
    width: auto;
    margin-right: 20px;
}

.notisfaction{
    margin-right: 5px;
    padding: 0px;
    opacity: 0.3;
    height: 80%;
}

.notisfaction:hover{
    opacity: 0.7;
    cursor: pointer;
}

.paw_wrapper{
    width: 6vh;
    cursor: pointer;
  /* margin: 0 auto; */
}

.paw_menu{
    margin-left: auto;
    margin-right: auto;
    padding-top: 50%;
    padding-bottom: 50%;
    border-radius: 50% 50%;
    background: url('../data/svg/paw.svg') center center no-repeat;
    background-size: 50%;
    background-color: #BB9167;
}


.paw_menu:hover{
    background-color: #8E562E;
}

.dropdown_menu{
    display: none;
    width: 140px;
    height: auto;
    /* border: 1px solid black; */
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 3px 3px;
    position: fixed;
    right: 1%;
    top: 8.3%;
    background-color: white;
}

.paw_wrapper:hover .dropdown_menu{
    display: block;
}

.profile_button{
    font-family: 'IBM Plex Serif', serif;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

.profile_button:hover{
    background-color: whitesmoke;
}

.settings{
    font-family: 'IBM Plex Serif', serif;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

.settings:hover{
    background-color: whitesmoke;
}

.log_out{
    font-family: 'IBM Plex Serif', serif;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: red;
    border-top: 1px solid black;
}

.log_out:hover{
    background-color: whitesmoke;
}