*{
    font-size: 18px;
}

body{
    font-size: 32px;
    margin: 0;
    width: 100%;
}

/* -------------------------------- */

main{
    width: 80%;
    margin-left: 20%;
    margin-top: 5%;
    min-height: 60%;
    height: 60%;
    /* border: 1px solid black; */
}

/* Scroll */

.horisontall_scroll{
    width: 100%;
    height: auto;
    overflow: hidden;
    white-space:nowrap;
}

.box-scroll {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.5rem 0 0;
    overflow: auto;
    display: flex;
}

.box-scroll::-webkit-scrollbar{
    width: 0;
}

.horisontal_scroll_elem{
    background-color: #EBEBEB;
    border: 1px solid rgba(85, 84, 84, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: auto;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
    border-radius: 1rem;
    font-family: cursive;
}

.horisontal_scroll_elem:hover{
    cursor: pointer;
    background-color: #D5D5D5;
}

.chosen{
    background-color: #F1A53C !important;
    color: white;
}

/* Slider */

.slider{
    height: 30vh;
    font-size: 5vh;
    font-family: cursive;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos_recomendation{
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    grid-gap: 15px;
}

.videos_recomendation iframe{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* footer */

footer{
    width: 100%;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 1rem;
}